  body{
        background-color: rgb(157, 178, 191);
    }
        h1{
            background-color: rgb(121, 224, 238);
            color: blue;
            padding: 35px 302px;
            border-top: 10px solid rgb(222, 222, 222);
                border-bottom: 10px solid rgb(222, 222, 222);
                padding-top: 6px;
                padding-bottom: 12px;
                 border: 6px solid orange;
                  font: italic 40px fantasy;
         text-align:center; 
        }
        h2{
            font-family: Sans-serif;
            font-size: 28px;
            font-style: italic;
            font-weight:bold;
            margin-left:325px;
            color: green;
        }
        #haha{
                height:230;
                400px;
                 border:10px solid purple;
                 margin-top: -1900;
        } 
        h4{
          font-family: "Helvetica", sans-serif;
            font-size: 100%;
            font-style: italic;
            line-height: 1.5em;
            text-align: center;
            color: red;
           
        }
        .Bye{
                border:10px solid purple;  
                height:230;
                margin-left:400;
        }
        .hello{
            margin-left:52px;
            line-height: 1.5em;
            font-family: cursive
        }
        #Ly{
            font-family:cursive;
            line-height:1.5em;
            text-align: left;
        }    
#Kim{
            width:70%;
                height:2
                400px;
                 border:10px solid purple;
             display: block;
margin-left: auto;
  margin-right: auto;
}
#Tam{
   float: right;
    border: 8px double red;

  
}
#LeLy{
 font-size:35px;
  text-align: left;
}
  .Tu{
    font-size:25px;
      font-style: Arial;
     line-height: 1.5em;
    float: left;
    text-align:center;
    width: 75%;
}
#hi{
    display: block;
margin-left: auto;
  margin-right: auto;
}
#Vinh{
  float: right;
   border:4px solid purple;
  width: 15%;
  background-color:blue;
}
#Tin{
  font-size:20px;
  margin-right: 150px;
}
#Hoa{
  font-family:Arial, sans-serif;
    font_size:20px;
  color:green;
}
