  body{
        background-color: rgb(157, 178, 191);
    }
        h1{
            background-color: rgb(121, 224, 238);
            color: blue;
            padding: 35px 302px;
            border-top: 10px solid rgb(222, 222, 222);
                border-bottom: 10px solid rgb(222, 222, 222);
                padding-top: 6px;
                padding-bottom: 12px;
                 border: 6px solid orange;
                  font: italic 40px fantasy;
        }
        h2{
            font-family: Sans-serif;
            font-size: 28px;
            font-style: italic;
            font-weight:bold;
            margin-left:325px;
            color: green;
        }
        #haha{
                height:230;
                400px;
                 border:10px solid purple;
                 margin-top: -1900;
        } 
        h4{
          font-family: "Helvetica", sans-serif;
            font-size: 150%;
            font-style: italic;
            line-height: 1.5em;
            text-align: center;
            color: red;
           
        }
        .Bye{
                border:10px solid purple;  
                height:230;
                margin-left:400;
        }
        .hello{
            margin-left:52px;
            line-height: 1.5em;
            font-family: cursive
        }
        #Ly{
            font-family:cursive;
            line-height:1.5em;
            text-alignl: center;
        }    
#Kim{
            width:70%;
                height:2
                400px;
                 border:10px solid purple;
             display: block;
margin-left: auto;
  margin-right: auto;
}
#Tam{
   float: right;
    border: 8px double red;
  
}
#LeLy{
    text-align: left;
    text-top:10px;
    margin-top: -130px;
 font-size:35px;
}
  .Tu{
    font-size:35px
      font-style: Arial;
     line-height: 1.5em;
    float: right;
    text-alignl: center;
}
table{
  font-size:35px;
  text-alignl: center;
}
